/* Step 2.4 - Add this at the top of your CSS */
:root {
  --color-accent: oklch(50% 30% 270);  /* your accent color */
  accent-color: var(--color-accent);  /* makes form elements use this color too */
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    margin-inline: auto;
    max-width: 100ch;
    padding: 20px
  }

nav {
  display: flex;
  margin-bottom: 2%;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}

input, textarea, button {
  font: inherit;
}

label:first-of-type {
  margin-top: 0;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
  justify-self: start;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5em;  
}

.projects article{
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}
.projects h2{
  margin: 0
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}